body {
  background-color: red;
}

h1{
  color:white;
  font-size: 24px;
  font-family: Arial,Helvetica, san-serif;
}
.header{
  border: 1px solid black;
  padding-left: 10px;
}

.footer {
  background: green;
}

div{
  border: 1px solid black;
}
